<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png' )}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png' )}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png' )}}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest' )}}">
    {% if title %}
    <title>{{ title }} | CTrack</title>
    {% else %}
    <title>Welcome to CTrack</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">CTrack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" id="nav-index" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-explore" aria-current="page" href="{{ url_for('main.explore') }}">Explore</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link" id="nav-login" aria-current="page" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" id="nav-messages" aria-current="page" href="{{ url_for('main.messages') }}">Messages
                {% set unread_message_count = current_user.unread_message_count() %}
                <span id="message_count" class="badge text-bg-danger" style="visibility: {% if unread_message_count %}visible
                                                     {% else %}hidden{% endif %};">
                  {{ unread_message_count }}
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav-user" aria-current="page" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    {{ moment.include_moment() }}
    <script>
      function initialize_popovers() {
        const popups = document.getElementsByClassName('user_popup');
        for (let i = 0; i < popups.length; i++) {
          const popover = new bootstrap.Popover(popups[i], {
            content: 'Loading...',
            trigger: 'hover focus',
            placement: 'right',
            html: true,
            sanitize: false,
            delay: { show: 500, hide: 0 },
            container: popups[i],
            customClass: 'd-inline',
          });
          popups[i].addEventListener('show.bs.popover', async (ev) => {
            if (ev.target.popupLoaded) {
              return;
            }
            const response = await fetch('/user/' + ev.target.innerText.trim() + '/popup');
            const data = await response.text();
            const popover = bootstrap.Popover.getInstance(ev.target);
            if (popover && data) {
              ev.target.popupLoaded = true;
              popover.setContent({ '.popover-body': data });
              flask_moment_render_all();
            }
          });
        }
      }
      document.addEventListener('DOMContentLoaded', initialize_popovers);

      function set_message_count(n) {
        const count = document.getElementById('message_count');
        count.innerText = n;
        count.style.visibility = n ? 'visible' : 'hidden';
      }

      {% if current_user.is_authenticated %}
      function initialize_notifications() {
        let since = 0;
        setInterval(async function () {
          const response = await fetch('{{ url_for('main.notifications') }}?since=' + since);
          const notifications = await response.json();
          for (let i = 0; i < notifications.length; i++) {
            if (notifications[i].name == 'unread_message_count')
              set_message_count(notifications[i].data);
            since = notifications[i].timestamp;
          }
        }, 10000);
      }
      document.addEventListener('DOMContentLoaded', initialize_notifications);
      {% endif %}

      routes = ['index', 'login', 'explore', 'messages', 'user']
      routes.forEach(element => {
        if (window.location.href.includes(element)) {
          document.getElementById("nav-" + element).classList.add("active");
        }
      });
    </script>
  </body>
</html>